# Virtual environment
venv/
env/

# Python compiled files
__pycache__/
*.py[cod]

# Django static and media files
#/backend/static/
#/backend/media/

# Local database
/backend/db.sqlite3

# Environment files
.env

# Node.js dependencies
/frontend/node_modules/

# Build output
/frontend/.next/
/frontend/out/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
